<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Late Night Show</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
 
    <div class="video-container">
        <video autoplay muted loop class="background-video">
            <source src="{{ url_for('static', filename='videos/Cunk On Life _ Sneak Peek _ Netflix.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

   
    <div class="hero">
        <h1>The Late Night Show</h1>
        <h2>With Philomena Cunk</h2>
    </div>

   
    <div class="content">
        <a href="/episodes" class="tab-button">View Episodes</a>
        <a href="/guests" class="tab-button">View Guest List</a>
    </div>
    <a href="/manage" style="text-decoration: none; font-size: 1.2em; font-weight: bold; background: #FFD700; color: black; padding: 15px 30px; border-radius: 25px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);">Manage Episodes</a>


    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>